
tbody>tr:nth-child(odd){
    background-color: lighten($color: $verdeClaro, $amount: 40%)!important;
    transition: all 200ms ease;
    &:hover{
        background-color: lighten($color: $verdeClaro, $amount: 5%)!important;
        color:#fff;
        .btn-editar{
            color: #fff!important;
            border: 1px #fff solid;
            border-radius: 3px;
            color: #fff;
        }
        
    }
}
tbody>tr:nth-child(even){
    background-color: lighten($color: $verdeClaro, $amount: 50%)!important;
    transition: all 500ms ease;
    &:hover{
        background-color: lighten($color: $verdeClaro, $amount: 5%)!important;
        color:#fff;
        .btn-editar{
            color: #fff!important;
            border: 1px #fff solid;
            border-radius: 3px;
            color: #fff;
        }
    }
}

.thead-green {
    background-color: $verdeMedio;
    color: #fff;
    font-size: 14px;
    font-weight: lighter;
}




.cambioMoneda{
    cursor: pointer;
}

.table{
    color: #383838!important;
}




// th{
//     border: 1px red solid;
// }